.phone_header {
  padding: 0 1.3333333333rem;
  line-height: 2.1333333333rem;
  background: #fff;
  min-height: 2.1333333333rem;
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 101; }

.phone_logo {
  float: left;
  width: 4.4533333333rem;
  height: 1.1733333333rem; }
  .phone_logo img {
    width: 100%;
    height: 100%;
    vertical-align: middle; }

.icon_nav {
  position: absolute;
  right: 0;
  width: 2.9333333333rem;
  height: 2.1333333333rem;
  background-image: url(../images/nav_right.png);
  background-position: center;
  background-size: 1.0666666667rem 0.9066666667rem; }

.phone_footer {
  display: none;
  font-size: 0.64rem;
  background-color: #3e404c;
  text-align: center; }
  .phone_footer h3 {
    color: #fff;
    padding-bottom: 0.4rem; }
  .phone_footer a {
    display: block;
    color: #a1a3af;
    padding: 0 0.6666666667rem; }

.code_phone {
  width: 4rem;
  height: 4rem;
  margin: 0 auto 0.9333333333rem; }

.fot_company_phone {
  height: 2.3466666667rem;
  line-height: 2.3466666667rem;
  border-top: 1px solid #787a82;
  color: #a1a3af;
  font-size: 0.5333333333rem; }

.fot_pro_phone, .fot_about_phone, .fot_code_phone {
  padding: 1.0666666667rem 1.3333333333rem 0; }

.nav_phone_list {
  position: absolute;
  z-index: 100;
  top: 2.1333333333rem;
  width: 12.3733333333rem;
  background: #3e404c;
  right: 1.3333333333rem;
  border-radius: 0.2666666667rem;
  padding: 0 0.8rem;
  display: none; }
  .nav_phone_list li {
    line-height: 3.0933333333rem; }
    .nav_phone_list li.active a {
      color: #2ea39d; }
  .nav_phone_list a {
    display: block;
    color: #fff;
    font-size: 0.64rem; }
  .nav_phone_list.active {
    display: block; }

.icon_arrow_phone {
  width: 0.5333333333rem;
  height: 0.2933333333rem;
  background-image: url(../images/nav_arrow.png);
  transform: rotateX(180deg); }
  .icon_arrow_phone.active {
    transform: rotateX(0); }

.solve_box {
  height: 0;
  overflow: hidden; }
  .solve_box.active {
    height: 100%; }
  .solve_box li a {
    color: #a1a3af !important; }
  .solve_box li.active a {
    color: #2ea39d !important; }

.skill_pic_phone {
  display: none; }

.bt_tendering_phone {
  display: none; }

.tendering_phone_item {
  padding: 1.0666666667rem 1.3333333333rem;
  border-bottom: 1px solid #ebebeb; }
  .tendering_phone_item h4 {
    font-size: 0.7466666667rem;
    line-height: 0.96rem; }

.having {
  color: #60e175; }

.tendering_phone_info {
  font-size: 0.7466666667rem;
  line-height: 0.96rem;
  margin: 0.9333333333rem 0; }

.tendering_phone_name {
  padding-right: 1.6rem; }

.tendering_phone_time {
  font-size: 0.64rem;
  line-height: 0.96rem; }

.bt_recruit_phone {
  display: none; }
  .bt_recruit_phone ul {
    border-top: 1px solid #EBEBEB; }

.recruit_list_item {
  font-size: 0.7466666667rem;
  border-bottom: 1px solid #ebebeb; }
  .recruit_list_item h4 {
    font-weight: bold; }
  .recruit_list_item a {
    display: block;
    padding: 0.6666666667rem 1.3333333333rem;
    color: #666; }

.recruitInfo_title {
  padding: 0.6666666667rem 1.3333333333rem;
  font-size: 0.7466666667rem;
  border-bottom: 1px solid #ebebeb; }

.recruitInfo_hd {
  margin-bottom: 0.2666666667rem; }
  .recruitInfo_hd h4 {
    font-weight: bold;
    padding-right: 0.2666666667rem; }

.recruitInfo_con {
  padding: 0 1.3333333333rem;
  font-size: 0.7466666667rem; }
  .recruitInfo_con p {
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 0.6666666667rem; }
  .recruitInfo_con h4 {
    font-weight: bold;
    margin: 0.6666666667rem 0; }

@media (max-width: 768px) {
  .warp {
    width: auto; }

  body {
    min-width: auto; }

  .header {
    display: none; }

  .phone_header {
    display: block; }

  .transform_banner {
    height: 12.72rem; }

  .index_banner {
    height: 12.72rem;
    background-image: url(../images/index_banner_phone.png); }

  .index_title h2 {
    font-size: 0.96rem;
    margin-bottom: 0; }
  .index_title h3 {
    font-size: 0.8rem; }

  .bt_list {
    display: block;
    padding: 0 1.3333333333rem;
    height: auto;
    margin-top: 1.4666666667rem; }

  .list_item {
    padding: 0 0 1.8666666667rem; }
    .list_item h4 {
      font-size: 0.7466666667rem; }
    .list_item p {
      font-size: 0.8rem; }

  .bt_solve {
    padding: 0.8rem 1.3333333333rem 0; }
    .bt_solve h2 {
      font-size: 0.8533333333rem; }

  .solve_info {
    padding-top: 4.1333333333rem; }

  .bt_class {
    margin-bottom: 1.0666666667rem; }

  .bt_class, .bt_school {
    float: none;
    width: 17.3333333333rem;
    height: 11.9466666667rem; }
    .bt_class h4, .bt_school h4 {
      font-size: 0.8533333333rem;
      line-height: 0.96rem;
      margin-bottom: 0.4rem; }
    .bt_class p, .bt_school p {
      padding: 0 1.0666666667rem;
      font-size: 0.64rem;
      line-height: 0.8533333333rem; }

  .bt_custom {
    height: 9.4933333333rem;
    background-image: url(../images/customized_banner.png); }

  .custom_info {
    padding: 0 1.3333333333rem; }
    .custom_info h3 {
      font-size: 0.8533333333rem;
      line-height: 0.96rem; }
    .custom_info p {
      font-size: 0.64rem;
      line-height: 0.6933333333rem; }

  .footer {
    display: none; }

  .phone_footer {
    display: block; }

  .icon_wlw {
    width: 2.1333333333rem;
    height: 2.4rem;
    margin-bottom: 0.64rem;
    background-image: url(../images/icon_wlw_phone.png); }

  .icon_dsj {
    width: 2.4rem;
    height: 2.24rem;
    margin-bottom: 0.8rem;
    background-image: url(../images/icon_dsj_phone.png); }

  .icon_rgzn {
    width: 2.2933333333rem;
    height: 2.24rem;
    margin-bottom: 0.8rem;
    background-image: url(../images/icon_rgzn_phone.png); }

  .fix_hd {
    padding-top: 2.1333333333rem; }

  .company_banner {
    background-image: url(../images/company_banner_phone.png);
    height: 10.1333333333rem; }

  .company_info {
    padding: 2.9333333333rem; }
    .company_info h2 {
      font-size: 0.96rem;
      margin-bottom: 0.2666666667rem;
      line-height: normal; }
    .company_info h3 {
      font-size: 0.8rem;
      line-height: normal; }

  .company_aboutus {
    padding: 0 1.3333333333rem;
    text-align: center;
    margin-bottom: 1.3333333333rem; }
    .company_aboutus .warp {
      display: block; }

  .aboutus_pic {
    margin-right: 0; }

  .italic_title {
    font-size: 0.8533333333rem;
    margin-top: 1.0666666667rem; }
    .italic_title:before {
      width: 0.5333333333rem;
      height: 0.0533333333rem;
      bottom: -0.4266666667rem;
      left: 50%;
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }

  .aboutus_txt {
    margin-top: 0.9333333333rem; }
    .aboutus_txt h4 {
      font-size: 0.8533333333rem;
      margin-bottom: 0.5333333333rem; }
    .aboutus_txt p {
      font-size: 0.7466666667rem;
      line-height: 1.0133333333rem; }

  .breaking_news {
    background-image: url(../images/event_banner_phone.png);
    height: 20.5333333333rem;
    background-size: cover; }

  .breaking_title {
    font-size: 0.8533333333rem;
    margin-top: 0.9333333333rem; }

  .address_title {
    font-size: 0.8533333333rem;
    margin-top: 0.9333333333rem;
    margin-bottom: 0.9333333333rem; }

  .event_list {
    padding: 0 1.3333333333rem; }
    .event_list:before {
      content: '';
      left: 6rem;
      top: 0.2666666667rem; }
    .event_list li {
      padding: 0 0 0.8rem 0;
      width: 100%; }
      .event_list li:nth-of-type(even) {
        float: none; }
        .event_list li:nth-of-type(even):before {
          left: 4.4266666667rem;
          content: '';
          top: 0.2666666667rem;
          width: 0.5333333333rem;
          height: 0.5333333333rem; }
        .event_list li:nth-of-type(even):after {
          left: 4.4266666667rem;
          content: '';
          top: 0.2666666667rem;
          width: 0.5333333333rem;
          height: 0.5333333333rem; }
      .event_list li .event_time {
        text-align: left; }
      .event_list li:before {
        left: 4.4266666667rem;
        content: '';
        top: 0.2666666667rem;
        width: 0.5333333333rem;
        height: 0.5333333333rem; }
      .event_list li:after {
        left: 4.4266666667rem;
        content: '';
        top: 0.2666666667rem;
        width: 0.5333333333rem;
        height: 0.5333333333rem; }

  .event_box {
    clear: both;
    overflow: hidden; }

  .event_time {
    float: left;
    font-size: 0.7466666667rem;
    width: 5.3333333333rem; }

  .event_info {
    float: right;
    font-size: 0.7466666667rem;
    line-height: 1.0133333333rem;
    width: 12rem; }

  .company_address {
    padding: 0 1.3333333333rem;
    text-align: center; }
    .company_address .warp {
      display: block; }

  .address_pic {
    width: 17.3333333333rem;
    height: 13.3333333333rem;
    margin-bottom: 0.5333333333rem; }

  .company_contact {
    font-size: 0.7466666667rem;
    line-height: 1.0133333333rem; }

  .icon_tel {
    width: 0.7466666667rem;
    height: 0.7466666667rem;
    background-image: url(../images/icon_tel_phone.png); }

  .icon_email {
    width: 0.7466666667rem;
    height: 0.6133333333rem;
    background-image: url(../images/icon_email_phone.png); }

  .icon_local {
    width: 0.6133333333rem;
    height: 0.7466666667rem;
    margin-right: 0.1333333333rem;
    background-image: url(../images/icon_local_phone.png); }

  .class_info {
    padding: 0 1.3333333333rem;
    text-align: center; }
    .class_info h2 {
      font-size: 0.96rem;
      line-height: normal; }
    .class_info h3 {
      font-size: 0.8rem;
      line-height: normal; }

  .class_banner {
    background-image: url(../images/classroom_banner_phone.png);
    height: 10.1333333333rem; }

  .icon_ykj {
    width: 2.1333333333rem;
    height: 2.2133333333rem;
    background-image: url(../images/icon_yjx_phone.png);
    margin-bottom: 0.64rem; }

  .icon_zntx {
    width: 2.1333333333rem;
    height: 1.5733333333rem;
    background-image: url(../images/icon_zltx_phone.png);
    margin-bottom: 1.28rem; }

  .icon_znkz {
    width: 2.1333333333rem;
    height: 1.84rem;
    background-image: url(../images/icon_znkz_phone.png);
    margin-bottom: 1.0133333333rem; }

  .icon_spfc {
    width: 2.1333333333rem;
    height: 2.0266666667rem;
    background-image: url(../images/icon_spfc_phone.png);
    margin-bottom: 0.8266666667rem; }

  .bt_classroom {
    padding: 0 1.3333333333rem; }

  .skill_item {
    display: block; }

  .skill_pic {
    display: none; }

  .skill_pic_phone {
    display: block;
    width: 17.3333333333rem;
    margin: 0 auto; }

  .skill_txt {
    padding: 0 1.0666666667rem; }
    .skill_txt h3 {
      font-size: 0.8533333333rem;
      line-height: 0.96rem;
      margin-bottom: 0.4rem;
      margin-top: 1.0666666667rem; }
    .skill_txt p {
      font-size: 0.7466666667rem;
      line-height: 0.96rem; }

  .blue_btn {
    width: 4.2666666667rem;
    height: 1.3333333333rem;
    line-height: 1.3333333333rem;
    font-size: 0.64rem;
    margin-bottom: 1.1733333333rem; }

  .school_banner {
    background-image: url(../images/school_banner_phone.png);
    height: 10.1333333333rem; }

  .school_info {
    padding: 0 2.1333333333rem;
    text-align: center; }
    .school_info h2 {
      font-size: 0.96rem;
      line-height: normal; }
    .school_info h3 {
      font-size: 0.8rem;
      line-height: normal; }

  .companyNews_banner {
    background-image: url(../images/companyNews_banner_phone.png);
    height: 6.4rem; }

  .companyNews_info h2 {
    font-size: 0.96rem; }
  .companyNews_info h3 {
    font-size: 0.8rem; }

  .companyNews_box {
    margin-top: 0; }

  .companyNews_item {
    padding: 0.9333333333rem;
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #ebebeb; }

  .companyNews_pic {
    width: 6.3466666667rem;
    height: 4.5333333333rem; }

  .companyNews_txt h4 {
    font-size: 0.8533333333rem;
    line-height: 0.96rem;
    padding: 0; }
  .companyNews_txt p {
    font-size: 0.7466666667rem;
    line-height: 0.96rem;
    margin-bottom: 0.6666666667rem;
    -webkit-line-clamp: 2; }
  .companyNews_txt span {
    font-size: 0.64rem; }

  .bt_page {
    margin-top: 1.0666666667rem; }

  .companyNews_bd {
    border: none;
    margin-top: 0;
    margin-bottom: 0; }
    .companyNews_bd h3 {
      font-size: 0.8533333333rem;
      line-height: 0.96rem; }
    .companyNews_bd p {
      padding: 0.8rem 0;
      font-size: 0.7466666667rem;
      line-height: 0.96rem; }

  .news_time {
    font-size: 0.64rem;
    padding-top: 0.2666666667rem; }

  .tendering_banner {
    background-image: url(../images/tendering_banner_banner.png);
    height: 6.4rem; }

  .tendering_info {
    color: #fff;
    text-align: center; }
    .tendering_info h2 {
      font-size: 0.96rem; }
    .tendering_info h3 {
      font-size: 0.8rem; }

  .bt_tendering {
    padding: 0 1.3333333333rem; }

  .bt_tendering_info {
    padding: 0 1.3333333333rem; }

  .tendering_item {
    width: 100%; }
    .tendering_item input {
      height: 1.7333333333rem;
      line-height: 1.7333333333rem;
      font-size: 0.8533333333rem; }

  .submit_btn {
    width: 6.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0 auto 0.8rem; }

  .tendering_title {
    margin: 0.6666666667rem 0 0.4rem;
    font-size: 0.7466666667rem; }

  .bt_tendering {
    display: none; }

  .bt_tendering_phone {
    display: block; }

  .recruit_banner {
    background-image: url(../images/recruit_banner_phone.png);
    height: 6.4rem; }

  .bt_recruit {
    display: none; }

  .send_hd {
    text-align: left;
    font-size: 0.7466666667rem;
    line-height: normal; }

  .bt_recruit_phone {
    margin: 0.8rem 0;
    display: block; }
    .bt_recruit_phone .send_hd {
      padding: 0 1.3333333333rem;
      margin-bottom: 0.8rem; }

  .recruit_info h2 {
    font-size: 0.96rem; }
  .recruit_info h3 {
    font-size: 0.8rem; }

  .companyNews_pic {
    width: 6.3466666667rem;
    height: 4.5333333333rem;
    overflow: hidden; }
    .companyNews_pic img {
      width: 100%;
      min-height: 4.5333333333rem; } }
